<div>
    <h1> Discovered Pokemons </h1>
    <table>
        <thead>
            <tr>
                <th style="border: 1px solid black">No.</th>
                <th style="border: 1px solid black">Poke Index</th>
                <th style="border: 1px solid black">Name</th>
                <th style="border: 1px solid black">Type 1</th>
                <th style="border: 1px solid black">Type 2</th>
                <th style="border: 1px solid black">Total</th>
                <th style="border: 1px solid black">HP</th>
                <th style="border: 1px solid black">Attack</th>
                <th style="border: 1px solid black">Defense</th>
                <th style="border: 1px solid black">Spd. Att</th>
                <th style="border: 1px solid black">Spd. Def</th>
                <th style="border: 1px solid black">Speed</th>
                <th style="border: 1px solid black">Generation</th>
                <th style="border: 1px solid black">Legendaray</th>
            </tr>
        </thead>
        <tbody>
            <% @pokemons.each_with_index do |pokemon, index| %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= pokemon.poke_index %></td>
                    <td><%= pokemon.name %></td>
                    <td><%= pokemon.type_1 %></td>
                    <td><%= pokemon.type_2 %></td>
                    <td><%= pokemon.total %></td>
                    <td><%= pokemon.hp %></td>
                    <td><%= pokemon.attack %></td>
                    <td><%= pokemon.defense %></td>
                    <td><%= pokemon.speed_attack %></td>
                    <td><%= pokemon.speed_defense %></td>
                    <td><%= pokemon.speed %></td>
                    <td><%= pokemon.generation %></td>
                    <td><%= pokemon.is_legendary %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
